- var buttonText = 'View All products'

- var labels = ['Vegetable', 'Fruit', 'Vegetable']
- var titles = ['Vegan Red Tomato', 'Organic Almonds', 'Fresh Corn']
- var previousPrice = [ '$ 14.00 USD', '$ 21.00 USD', '$ 21.23 USD']
- var newPrice = ['$ 9.37 USD', '$ 18.00 USD', '$ 18.00 USD']
- var images = ['../assets/png/red-tomato.png', '../assets/png/almonds.png', '../assets/png/corn.png']
- var imagesAlt = [ 'red-tomato', 'almonds', 'corn']

section.org-offer-products
  .org-container
    .org-offer-products__content 
      .org-offer-products__header
        .org-offer-products__text 
          h3.org-label Offer Products
          h2.org-title We Offer Organic For You
        +org-button(buttonText, 'org-btn--tertiary')
      .products__items
        each label, index in labels
          .products__item
            .products__label= label
            .products__img
              img(src=images[index], alt=imagesAlt[index])
            .products__description
              .products__title= titles[index]
              .products__info 
                .products__previous-price= previousPrice[index]
                .products__new-price= newPrice[index]
                .products__rating
                  img(src="../assets/svg/rating-star.svg", alt="rating-start")
                  img(src="../assets/svg/rating-star.svg", alt="rating-start")
                  img(src="../assets/svg/rating-star.svg", alt="rating-start")
                  img(src="../assets/svg/rating-star.svg", alt="rating-start")
                  img(src="../assets/svg/rating-star.svg", alt="rating-start")
